<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262252940171-o264vg3j8mjsmvtui06jnkvjnjctg45l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262252940171-o264vg3j8mjsmvtui06jnkvjnjctg45l</string>
	<key>API_KEY</key>
	<string>AIzaSyBFjZvFo6CF4C3N8_JzCuenGjok0HnpLCg</string>
	<key>GCM_SENDER_ID</key>
	<string>262252940171</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.kr.Btrade</string>
	<key>PROJECT_ID</key>
	<string>btrade-190211</string>
	<key>STORAGE_BUCKET</key>
	<string>btrade-190211.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262252940171:ios:96032822ea84b6b230fd8e</string>
	<key>DATABASE_URL</key>
	<string>https://btrade-190211.firebaseio.com</string>
</dict>
</plist>